<div class="page-wrapper">
  <div class="summary-container">
    <h3>STEP DI PUBBLICAZIONE</h3>
    <br><br>

    <div class="step">
      <div class="circle" 
           [ngClass]="{
             'active': currentStep === 1, 
             'completed': isStepCompleted(1)
           }"
           (click)="goToStep(1)">1</div>
      <div class="content">
        <h4>Informazioni</h4>
        <br>
        <p>Immobile – Titolo Annuncio<br />Prezzo – Indirizzo</p>
        <br><br>
      </div>
    </div>

    <div class="step">
      <div class="circle" 
           [ngClass]="{
             'active': currentStep === 2, 
             'completed': isStepCompleted(2)
           }"
           (click)="goToStep(2)">2</div>
      <div class="content">
        <h4>Dettagli</h4>
        <br>
        <p>Superficie – Stanze<br />Piano – Classe energetica<br />Servizi presenti</p>
        <br><br>
      </div>
    </div>

    <div class="step">
      <div class="circle" 
           [ngClass]="{
             'active': currentStep === 3, 
             'completed': isStepCompleted(3)
           }"
           (click)="goToStep(3)">3</div>
      <div class="content">
        <h4>Foto e descrizione</h4>
        <br>
        <p>20 Foto – Planimetrie<br />Descrizione dell'immobile</p>
        <br><br>
      </div>
    </div>

    <div class="step">
      <div class="circle" 
           [ngClass]="{
             'active': currentStep === 4, 
             'completed': isStepCompleted(4)
           }"
           (click)="goToStep(4)">4</div>
      <div class="content">
        <h4>Contatti</h4>
        <br>
        <p>Indirizzo di posta elettronica<br />e/o telefono per ricevere richieste</p>
        <br><br>
      </div>
    </div>

    <div class="footer">
      <div class="circle small" [ngClass]="{'active': formValid}" [ngStyle]="{'background-color': formValid ? '#109CAB' : 'white'}"></div>
      <strong>Riepilogo e conferma</strong>
    </div>
  </div>
</div>



















