<div class="summary-container">
  <h2>STEP DI PUBBLICAZIONE</h2>

  <div class="step">
    <div class="circle" [ngClass]="{ active: activeStep >= 1 }">1</div>
    <div class="step-content">
      <h3>Informazioni</h3>
      <p>
        <strong>Immobile - Titolo - Prezzo<br>Indirizzo<br><br></strong>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="circle" [ngClass]="{ active: activeStep >= 2 }">2</div>
    <div class="step-content">
      <h3>Dettagli</h3>
      <p>
        Superficie - Stanze - Piano<br>Classe energetica - Servizi<br><br>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="circle" [ngClass]="{ active: activeStep >= 3 }">3</div>
    <div class="step-content">
      <h3>Foto e descrizione</h3>
      <p>
        Foto - Planimetrie<br>Descrizione<br><br>
      </p>
    </div>
  </div>

  <div class="step">
    <div class="circle" [ngClass]="{ active: activeStep >= 4 }">4</div>
    <div class="step-content">
      <h3>Contatti</h3>
      <p>
        Email - Telefono<br><br>
      </p>
    </div>
  </div>

  <div class="step final-step">
    <div class="circle final" [ngClass]="{ active: activeStep >= 5 }"></div>
    <div class="step-content">
      <strong>Riepilogo e conferma</strong>
    </div>
  </div>
</div>
