<nav class="navbar">
  <!-- Riga 1: Sinistra + Destra -->
  <div class="navbar-top">
    <div class="nav-left">
      <!-- Icona utente con dropdown -->
      <div class="icon user" (click)="toggleDropdown()" [class.open]="isDropdownOpen">
        <div class="logo">
          <img src="https://i.imgur.com/fda9m1G.png" alt="Logo" />
        </div>
        <i class="fas fa-user"></i>
        <span class="caret">▼</span>

        <div class="dropdown" *ngIf="isDropdownOpen">
          <ul>
            <li class="login" (click)="goToLogin()">
              <img class="login-icon" src="https://i.imgur.com/ZS4unuR.png" alt="Login icon" />
              Login
            </li>
            <hr class="dropdown-divider" />
            <li class="register" (click)="goToRegister()">
              <img class="register-icon" src="https://i.imgur.com/T0LFKBH.png" alt="Register icon" />
              Register
            </li>
          </ul>
        </div>
      </div>

      <!-- Pulsante Home -->
      <div class="icon" (click)="goToHome()">
        <div class="logo">
          <img src="https://i.imgur.com/BBn9bOo.png" alt="Logo" />
        </div>
        <i class="fas fa-home"></i>
        <span>Home</span>
      </div>
    </div>

    <div class="nav-centered" *ngIf="centerMessage">
      <div [innerHTML]="centerMessage"></div>
    </div>

    <div class="nav-right">
      <button class="login-btn" *ngIf="!isGeneric" (click)="goToLogin()">
        <div class="logo">
          <img src="https://i.imgur.com/GZm5Frt.png" alt="Logo" />
        </div>
        <i class="fas fa-plus"></i> LOGIN
      </button>
      <button class="register-btn" *ngIf="!isGeneric" (click)="goToRegister()">
        <div class="logo">
          <img src="https://i.imgur.com/LGX7HYv.png" alt="Logo" />
        </div>
        <i class="fas fa-plus"></i> REGISTER
      </button>

      <!-- Pulsante Help -->
      <div class="icon" (click)="toggleHelp()">
        <div class="logo">
          <img src="https://i.imgur.com/XGH6MVo.png" alt="Logo " />
        </div>
        <i class="fas fa-question-circle"></i>
        <span>Help</span>

        <div class="help-box" *ngIf="isHelpOpen">
          <p [innerHTML]="helpMessage"></p>
          <p *ngIf="!isGeneric">
            Nella barra di ricerca è possibile filtrare gli annunci per <strong>città</strong>.<br><br>
            È possibile aggiungere filtri tramite il pulsante <strong>aggiungi filtri</strong>.<br><br>
            Inoltre è possibile anche filtrare tra annunci di <strong>affitto</strong> o <strong>acquisto</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Riga 2: Centro -->
  <div class="navbar-bottom" *ngIf="!isGeneric">
    <div class="nav-center">
      <img src="https://i.imgur.com/uOvKzdr.png" alt="Logo centrale" />
    </div>
  </div>
</nav>
