<footer class="footer">
    <div class="footer-left">
      <span>© DietEtstate25</span>
      <span>| P.IVA 09476543215</span>
      <span (click)="goToAboutUs()">| <a>Chi siamo</a></span>
      <span>| Tutti i diritti riservati</span>
    </div>
    <div class="footer-right">
       <a href="https://www.facebook.com/profile.php?id=61575317863333&locale=it_IT" target="_blank">
      <img src="https://i.imgur.com/bnSZIiP.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/dietiestates25/" target="_blank">
      <img src="https://i.imgur.com/KcxDrNj.png" alt="Instagram" />
    </a>
    <a href="https://x.com/DietiEstates25" target="_blank">
      <img src="https://i.imgur.com/SByoBkM.png" alt="X" />
    </a>
    <a href="https://www.youtube.com/channel/UChnfLr9OwfP1ZkqN8l7vHnA" target="_blank">
      <img src="https://i.imgur.com/I2WcaG3.png" alt="Youtube" />
    </a>
    </div>
  </footer>
  