<ng-container *ngIf="userRole === 'guest'">
  <app-navbar-guest ></app-navbar-guest>
</ng-container>

<ng-container *ngIf="userRole === 'agent'">
  <app-navbar-agent></app-navbar-agent>
</ng-container>

<ng-container *ngIf="userRole === 'admin'">
  <app-navbar-amministrator></app-navbar-amministrator>
</ng-container>

<ng-container *ngIf="userRole === 'user'">
  <app-navbar-user></app-navbar-user>
</ng-container>

<ng-container *ngIf="userRole === 'ceo'">
  <app-navbar-ceo></app-navbar-ceo>
</ng-container>


<app-search-bar></app-search-bar>
<app-search-history></app-search-history>
<app-footer></app-footer>
