<div class="new-announcement-step3">
  <app-navbar  
      [helpMessage]="'<strong>Per procedere,</strong> compila tutti i <strong>campi obbligatori</strong>.<br><br>Quando hai completato il form, puoi <strong>procedere</strong> o <strong>tornare indietro</strong> utilizzando i pulsanti in basso.'" 
    [centerMessage]="'<strong>Nuovo Annuncio</strong>'">
  </app-navbar>

  <main class="step3-container">
    <div class="layout-wrapper">
      <form [formGroup]="step3Form" (ngSubmit)="onSubmit()" class="form-wrapper">
        <div class="top-section">
          <!-- Foto -->
          <div class="left-column">
            <h2 class="form-title">Foto</h2>
            <div 
              class="foto-box"
              [class.hovered]="showFotoOverlay && !showDeleteIcons"
              (mouseenter)="onMouseEnter()"
              (mouseleave)="onMouseLeave()"
              (click)="toggleFotoMenu($event)">

              <input type="file" #fotoInput multiple accept="image/*" (change)="onFotoSelected($event)" hidden />

              <ng-container *ngIf="fotoPreviews.length === 0">
                <img src="https://i.imgur.com/nZOSiEr.png" alt="Decorazione" class="corner-icon">
              </ng-container>

              <div class="preview-wrapper" *ngIf="fotoPreviews.length > 0">
                <ng-container *ngFor="let img of fotoPreviews.slice(0, 3); let i = index">
                  <div class="preview-image" [class.show-delete]="showDeleteIcons">
                    <img [src]="img" alt="Foto caricata" />
                    <button class="remove-button" *ngIf="showDeleteIcons" (click)="removeFoto(i, $event)">✖</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="fotoPreviews.length === 4">
                  <div class="preview-image" [class.show-delete]="showDeleteIcons">
                    <img [src]="fotoPreviews[3]" alt="Foto caricata" />
                    <button class="remove-button" *ngIf="showDeleteIcons" (click)="removeFoto(3, $event)">✖</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="fotoPreviews.length > 4">
                  <div class="preview-image overlay">
                    <img [src]="fotoPreviews[3]" alt="Foto caricata" />
                    <div class="overlay-text">+{{ fotoPreviews.length - 3 }}</div>
                  </div>
                </ng-container>
              </div>

              <!-- Overlay immagine "+" -->
              <div class="foto-overlay" *ngIf="showFotoOverlay && !showDeleteIcons">
                <img src="https://i.imgur.com/Szxihu5.png" alt="Foto" />
              </div>

              <!-- Menu contestuale -->
             <div class="menu-popup" *ngIf="showFotoMenu" (click)="stopPropagation($event)">
              <div (click)="triggerFileInput(fotoInput)">📤 Aggiungi nuova foto</div>
              <!-- Aggiungi questa condizione per mostrare il campo solo se ci sono foto -->
                <div *ngIf="fotoPreviews.length > 0" (click)="openPhotoDeletionPanel()">🗑 Elimina foto</div>
            </div>

          </div>
          <small class="text-muted">
            Caricate: {{ fotoPreviews.length }} su 20 foto (png o jpg)
          </small>

        </div>

          <!-- Descrizione -->
          <div class="right-column">
            <h2 class="form-title">Descrizione</h2>
            <div class="descrizione-box">
              <textarea formControlName="descrizione" placeholder="Descrizione immobile" maxlength="3000"></textarea>
              <small class="text-muted">
                {{ 3000 - (step3Form.get('descrizione')?.value?.length || 0) }} di 3000 caratteri rimasti
              </small>

              <small class="campo-obbligatorio" *ngIf="step3Form.get('descrizione')?.errors?.['maxlength']">
                Massimo 3000 caratteri.
              </small>
            </div>
              <small class="campo-obbligatorio" *ngIf="step3Form.get('descrizione')?.errors?.['required']">
                CAMPO OBBLIGATORIO 
              </small>
          </div>
        </div>

        <!-- Planimetrie e Nota -->
        <div class="planimetrie-container-wrapper">
          <div class="planimetrie-container">
            <h2 class="form-title">Planimetrie</h2>
            <div 
              class="planimetrie-box"
              [class.hovered]="showPlanimetriaOverlay && !showPlanimetriaDeleteIcons"
              (mouseenter)="onPlanimetriaMouseEnter()"
              (mouseleave)="onPlanimetriaMouseLeave()"
              (click)="togglePlanimetriaMenu($event)">

              <input type="file" #planimetriaInput multiple accept="image/*" (change)="onPlanimetriaSelected($event)" hidden />

              <ng-container *ngIf="planimetriaPreviews.length === 0">
                <img src="https://i.imgur.com/nZOSiEr.png" alt="Decorazione" class="corner-icon">
              </ng-container>

              <div class="preview-wrapper" *ngIf="planimetriaPreviews.length > 0">
                <ng-container *ngFor="let img of planimetriaPreviews.slice(0, 3); let i = index">
                  <div class="preview-image" [class.show-delete]="showPlanimetriaDeleteIcons">
                    <img [src]="img" alt="Planimetria caricata" />
                    <button class="remove-button" *ngIf="showPlanimetriaDeleteIcons" (click)="removePlanimetria(i, $event)">✖</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="planimetriaPreviews.length === 4">
                  <div class="preview-image" [class.show-delete]="showPlanimetriaDeleteIcons">
                    <img [src]="planimetriaPreviews[3]" alt="Planimetria caricata" />
                    <button class="remove-button" *ngIf="showPlanimetriaDeleteIcons" (click)="removePlanimetria(3, $event)">✖</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="planimetriaPreviews.length > 4">
                  <div class="preview-image overlay">
                    <img [src]="planimetriaPreviews[3]" alt="Planimetria caricata" />
                    <div class="overlay-text">+{{ planimetriaPreviews.length - 3 }}</div>
                  </div>
                </ng-container>
              </div>

              <!-- Overlay immagine "+" -->
              <div class="foto-overlay" *ngIf="showPlanimetriaOverlay && !showPlanimetriaDeleteIcons">
                <img src="https://i.imgur.com/Szxihu5.png" alt="Planimetria" />
              </div>

              <!-- Menu contestuale -->
              <div class="menu-popup" *ngIf="showPlanimetriaMenu" (click)="stopPropagation($event)">
                <div (click)="triggerPlanimetriaInput(planimetriaInput)">📤 Aggiungi nuova planimetria</div>
                <!-- Aggiungi questa condizione per mostrare il campo solo se ci sono planimetrie -->
                <div *ngIf="planimetriaPreviews.length > 0" (click)="openPlanimetriaDeletionPanel()">🗑 Elimina planimetria</div>
              </div>
            </div>
            <small class="text-muted">
              Caricate: {{ planimetriaPreviews.length }} su 4 foto (png o jpg)
            </small>

          </div>
        </div>

        <!-- Pulsanti -->
        <div class="form-buttons">
          <button type="button" class="indietro" (click)="goBack()">INDIETRO</button>
          <button type="submit" class="prosegui" 
            [disabled]="!step3Form.get('descrizione')?.valid || fotoPreviews.length === 0 || planimetriaPreviews.length === 0"
            [ngClass]="{ 'active': step3Form.get('descrizione')?.valid && fotoPreviews.length > 0 && planimetriaPreviews.length > 0 }">
            PROSEGUI
          </button>

        </div>
      </form>
    </div>

    <!-- MODAL: Seleziona planimetrie da eliminare -->
    <div class="deletion-modal custom-modal" *ngIf="isPlanimetriaDeletionModalVisible">
      <div class="modal-content">
        <h3>Seleziona le planimetrie da eliminare</h3>
        <div class="modal-gallery">
          <div
            class="modal-thumb"
            *ngFor="let planimetria of tempPlanimetriaPreviews; let i = index"
            [class.selected]="selectedPlanimetriaToDelete[i]"
            (click)="togglePlanimetriaSelection(i)"
          >
            <img [src]="planimetria" />
            <div class="check-overlay" *ngIf="selectedPlanimetriaToDelete[i]">✔</div>
          </div>
        </div>
        <div class="custom-modal-buttons">
          <button class="indietro" (click)="closePlanimetriaDeletionPanel()">Indietro</button>
          <button class="conferma" (click)="confirmPlanimetriaDeletion()">Prosegui</button>
        </div>
      </div>
    </div>

    <!-- MODAL: Seleziona foto da eliminare -->
    <div class="deletion-modal custom-modal" *ngIf="isFotoDeletionModalVisible">
      <div class="modal-content">
        <h3>Seleziona le foto da eliminare</h3>
        <div class="modal-gallery">
          <div
            class="modal-thumb"
            *ngFor="let foto of tempFotoPreviews; let i = index"
            [class.selected]="selectedFotoToDelete[i]"
            (click)="toggleFotoSelection(i)"
          >
            <img [src]="foto" />
            <div class="check-overlay" *ngIf="selectedFotoToDelete[i]">✔</div>
          </div>
        </div>
        <div class="custom-modal-buttons">
          <button class="indietro" (click)="closeFotoDeletionPanel()">Indietro</button>
          <button class="conferma" (click)="confirmFotoDeletion()">Prosegui</button>
        </div>
      </div>
    </div>

    <app-announcement-summary [activeStep]="3"></app-announcement-summary>
  </main>

</div>
