<app-navbar 
  [helpMessage]="'Benvenuto in <strong>Chi siamo</strong>, la sezione dove è possibile vedere informazioni su di noi.'" 
  [centerMessage]="'<strong>Chi siamo</strong>'">
</app-navbar>

<section class="about-us">
    <div class="about-content">
      <p>
        <span class="highlight">DietiEstates</span> nasce con l'obiettivo di rivoluzionare il mercato immobiliare offrendo
        una piattaforma moderna,<span class="highlight"> veloce e affidabile</span>, per la ricerca e la pubblicazione di immobili.
      </p>
      <p>
        Il nostro team, con sede a <span class="highlight">Napoli</span>, è composto da giovani professionisti appassionati
        di tecnologia e innovazione. Crediamo che trovare casa debba essere un'esperienza
        semplice, <span class="highlight">intuitiva</span> e sicura.
      </p>
      <div class="values">
        <div class="value-item">
          <img src="https://i.imgur.com/8ITYFsQ.jpeg" alt="Innovazione">
          <h3>Innovazione</h3>
          <p>Utilizziamo strumenti digitali all'avanguardia per rendere la tua ricerca più <span class="highlight">efficiente</span>.</p>
        </div>
        <div class="value-item">
          <img src="https://i.imgur.com/kyoByV2.jpeg" alt="Affidabilità">
          <h3>Affidabilità</h3>
          <p>Garantiamo trasparenza e <span class="highlight">sicurezza</span> in ogni fase del processo.</p>
        </div>
        <div class="value-item">
          <img src="https://cdn.pixabay.com/photo/2017/07/06/14/44/help-2478193_1280.jpg" alt="Supporto">
          <h3>Supporto</h3>
          <p>Il nostro team è sempre pronto ad assisterti, <span class="highlight">in ogni tua esigenza.</span></p>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
  