<ng-container [ngSwitch]="userRole">
  <app-navbar-guest *ngSwitchCase="'guest'" [isGeneric]="true" [centerMessage]="centerMessage" [helpMessage]="helpMessage"></app-navbar-guest>
  <app-navbar-agent *ngSwitchCase="'agent'" [isGeneric]="true" [centerMessage]="centerMessage" [helpMessage]="helpMessage"></app-navbar-agent>
  <app-navbar-user *ngSwitchCase="'user'" [isGeneric]="true" [centerMessage]="centerMessage" [helpMessage]="helpMessage"></app-navbar-user>
  <app-navbar-amministrator *ngSwitchCase="'admin'" [isGeneric]="true" [centerMessage]="centerMessage" [helpMessage]="helpMessage"></app-navbar-amministrator>
  <app-navbar-ceo *ngSwitchCase="'ceo'" [isGeneric]="true" [centerMessage]="centerMessage" [helpMessage]="helpMessage"></app-navbar-ceo>
</ng-container>
