<div class="search-bar-wrapper">
  <div class="dropdown-aligned-tabs">
    <div class="tabs">
      <label for="compra" class="tab tab-active">COMPRA</label>
      <input type="radio" id="compra" name="tab" checked />
      <label for="affitta" class="tab">AFFITTA</label>
      <input type="radio" id="affitta" name="tab" />
    </div>
  </div>

  <div class="search-bar">
    <div class="dropdown-section">
      <select id="property-type" name="property-type">
        <option value="Case/Appartamenti">Case/Appartamenti</option>
        <option value="Ville">Ville</option>
        <option value="Monolocali">Monolocali</option>
        <option value="Attici">Attici</option>
      </select>
    </div>

    <div class="divider"></div>

    <div class="input-section">
      <div class="logo">
        <img src="https://i.imgur.com/q3KeOAl.png" alt="Logo">
      </div>
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Effettua una nuova ricerca" />
    </div>

    <button class="search-btn">CERCA</button>
  </div>

  <div class="filters-link">
    AGGIUNGI FILTRI
  </div>
</div>
