.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #087E8B;
  padding: 20px;

  .tabs {
    display: flex;
    margin-bottom: 10px;

    .tab {
      background-color: transparent;
      border: none;
      color: white;
      font-weight: bold;
      padding: 6px 14px;
      margin-right: 10px;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.7s ease;
    }

    .tab-active {
      border: none;
      color: white;
      font-weight: bold;
      padding: 6px 14px;
      margin-right: 10px;
      border-radius: 20px;
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease;
    }

    .tab:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .tab-active:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .dropdown-aligned-tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
    padding-right: 35px;
    margin-bottom: -5px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .dropdown-section {
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-right: 15px;

      .arrow {
        font-size: 12px;
        margin-left: 6px;
      }
    }

    .divider {
      width: 1px;
      height: 30px;
      background-color: #ccc;
      margin-right: 15px;
    }

    .input-section {
      display: flex;
      align-items: center;
      flex: 1;
    
      i {
        color: #0b7d87;
        margin-right: 8px;
      }
    
      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 16px;
        color: #000;  /* Imposta il colore del testo normale a nero */
    
        &::placeholder {
          color: #aaa;  /* Colore grigio per il placeholder */
        }
    
        &:focus {
          color: #000;  /* Quando l'input è in focus, il testo rimane nero */
        }
      }
    }
    

    .search-btn {
      background-color: #d63053;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 8px 20px;
      font-weight: bold;
      cursor: pointer;
      margin-left: 15px;
      transition: background-color 0.7s ease;
      transition: color 0.7s ease;
      letter-spacing: 2px;
    }
    .search-btn:hover{
    color:#b0b9ba
    }
  }

  .filters-link {
    font-size: 14px;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
    transition: background-color 0.7s ease;
  }

  .filters-link:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
}

select {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: #109CAB;
  }

  &:hover {
    border-color: #109CAB;
  }
}

