.new-announcement {
  font-family: 'Segoe UI', sans-serif;
  color: #333;

  /* Rimuove frecce dai campi numerici */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  .content {
    display: flex;
    margin-top: 0px;
    position: relative;
  }

  .form-section {
    flex: 2;
    padding: 30px;

    h2 {
      text-align: left;
      font-size: 24px;
      margin-left: 305px;
      color: #087E8B;
      margin-bottom: 30px;
    }

    .contract-type {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-left: 223px;
      margin-bottom: 20px;

      label {
        font-weight: bold;
      }

      button {
        padding: 6px 16px;
        border: 2px solid #087E8B;
        border-radius: 20px;
        background-color: white;
        color: #087E8B;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s, color 0.2s;

        &.active {
          background-color: #087E8B;
          color: white;
        }
      }
    }

    form {
      .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 223px;

        label {
          font-weight: bold;
          margin-bottom: 5px;
        }

        input,
        select {
          padding: 5px;
          border: 1px solid #CE2D4F;
          border-radius: 4px;
        }

        select, input[type="text"] {
          width: 286px;
          height: 31px;
        }

        &.price {
          margin-top: 44px;

          .price-input {
            display: flex;
            align-items: center;

            input {
              width: 174px;
              height: 31px;
            }

            span {
              margin-left: 5px;
              font-weight: bold;
            }
          }
        }

        &:nth-child(4) {
          margin-top: 78px;
        }

        &.address-group {
          margin-top: 31px;

          .address-fields {
            display: flex;
            align-items: center;
            gap: 23px;

            input:first-child {
              width: 286px;
              height: 31px;
            }

            .number-input {
              width: 41px;
              height: 31px;
            }

            .cap-input {
              width: 80px;
              height: 25px;
            }
          }

          label {
            margin-top: 10px;
          }
        }

        small.required-field {
          margin-top: 5px;
          color: #CE2D4F;
          font-size: 12px;
        }
      }
    }
  }
  
  .form-buttons {
    .next {
      background-color: #f9a9b0;
      transition: background-color 0.3s;

      &.active {
        background-color: #CE2D4F;
      }
    }

    .valid-button {
      background-color: #CE2D4F !important;
      cursor: pointer !important;
    }

    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 223px;

    .back, .next {
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      font-size: 14px;
    }

    .back {
      background-color: #087E8B;
      color: white;
       cursor: pointer;
    }

    .next {
      background-color: #f9a9b0;
      color: white;
       cursor: not-allowed;
    }
  }
}

input[readonly] {
  background-color: #f0f0f0;  
  color: #888888;              
  cursor: not-allowed;       
  border: 1px solid #ccc;     
  user-select: none;           
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.open-map-btn {
  background-color: #087E8B;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.open-map-btn:hover {
  background-color: #109CAB;
}

.address-fields input {
  margin-right: 5px;
}





























  