<div class="new-announcement-step4">
  <app-navbar  
     [helpMessage]="'<strong>Per procedere,</strong> compila tutti i <strong>campi obbligatori</strong>.<br><br>Quando hai completato il form, puoi <strong>procedere</strong> o <strong>tornare indietro</strong> utilizzando i pulsanti in basso.'" 
    [centerMessage]="'<strong>Nuovo Annuncio</strong>'">
  </app-navbar>

  <main class="step4-container">
    <div class="form-wrapper">
      <h2>Contatti</h2>

      <form [formGroup]="step4Form" (ngSubmit)="proceed()">

        <!-- Email -->
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" placeholder="La tua e-mail"
             [class.invalid]="isInvalid('email')" />

          <div class="error-row">
             <div class="error" *ngIf="step4Form.get('email')?.hasError('required') && step4Form.get('email')?.touched">
               CAMPO OBBLIGATORIO
             </div>
             <div class="error" *ngIf="step4Form.get('email')?.hasError('pattern') && step4Form.get('email')?.touched">
              Dominio non valido
             </div>
          </div>
        </div>


       <!-- Cellulare -->
       <div class="form-group">
        <label for="phone">Cellulare:</label>
        <div class="phone-input">
          <select formControlName="prefix">
           <option *ngFor="let option of prefixOptions" [value]="option.code">
             {{ option.label }}
           </option>
         </select>
         <input 
           id="phone" type="tel" formControlName="phone" placeholder="Il tuo telefono"
           [class.invalid]="isInvalid('phone')"
           pattern="[0-9]*" inputmode="numeric" (input)="filterNumericInput($event)" />
        </div>
  
        <div class="error-row">
          <div class="error" *ngIf="step4Form.get('phone')?.hasError('required') && step4Form.get('phone')?.touched">
             CAMPO OBBLIGATORIO
          </div>
          <div class="error" *ngIf="step4Form.get('phone')?.hasError('minlength') && step4Form.get('phone')?.touched">
             Il numero deve contenere almeno 10 caratteri.
          </div>
          <div class="error" *ngIf="step4Form.get('phone')?.hasError('maxlength') && step4Form.get('phone')?.touched">
            Il numero non può superare i 15 caratteri.
          </div>
          <div class="error" *ngIf="step4Form.get('phone')?.hasError('pattern') && step4Form.get('phone')?.touched">
            Inserisci solo numeri
          </div>
        </div>
      </div>

        <!-- Checkbox -->
        <div class="form-group checkbox-group">
          <label>Mostra cellulare nell’annuncio:</label>
          <input type="checkbox" formControlName="showPhone" />
        </div>

        <!-- Buttons -->
        <div class="button-row">
          <button type="button" class="indietro" (click)="goBack()">INDIETRO</button>
          <button type="submit" class="prosegui" [ngClass]="{ 'active': step4Form.valid } "[disabled]="!step4Form.valid">PROSEGUI</button>
        </div>
      </form>
    </div>

    <app-announcement-summary [activeStep]="4"></app-announcement-summary>
  </main>
</div>
