<nav class="navbar">
  <!-- Riga 1 -->
  <div class="navbar-top">
    <!-- Sinistra -->
    <div class="nav-left">
      <!-- Icona utente con dropdown -->
      <div class="icon user" (click)="toggleDropdown()" [class.open]="isDropdownOpen">
        <div class="logo">
          <img src="https://i.imgur.com/fda9m1G.png" alt="Logo" />
        </div>
        <i class="fas fa-user"></i>
        <span class="caret">▼</span>

        <div class="dropdown" *ngIf="isDropdownOpen">
          <ul>
            <li (click)="goToProfileInfo()"><img src="https://i.imgur.com/NW7acom.png"/> Informazioni profilo</li>
            <hr class="dropdown-divider" />
            <li (click)="goToNotify()"><img src="https://i.imgur.com/mcfdYbE.png"/> Notifiche</li>
            <hr class="dropdown-divider" />
            <li (click)="logout()" class="logout">
              <img class="logout-icon" src="https://i.imgur.com/pCXvAHh.png" alt="Logout icon" />
              Logout
            </li>
          </ul>
        </div>
      </div>
      

      <!-- Pulsante notifiche -->
      <div class="icon" *ngIf="!isGeneric" (click)="goToNotify()">
        <div class="logo">
          <img src="https://i.imgur.com/rRsXzMS.png" alt="Logo" />
        </div>
        <i class="fas fa-bell"></i>
        <span>Notifiche</span>
      </div>
      

      <!-- Pulsante home -->
      <div class="icon" (click)="goToHome()">
        <div class="logo">
          <img src="https://i.imgur.com/BBn9bOo.png" alt="Logo" />
        </div>
        <i class="fas fa-home"></i>
        <span>Home</span>
      </div>
    </div>

    <div class="nav-centered" *ngIf="centerMessage">
      <div [innerHTML]="centerMessage"></div>
    </div>

    <!-- Destra -->
    <div class="nav-right">
      <!-- Pulsante help -->
      <div class="icon" (click)="toggleHelp()">
        <div class="logo">
          <img src="https://i.imgur.com/XGH6MVo.png" alt="Logo " />
        </div>
        <i class="fas fa-question-circle"></i>
        <span>Help</span>

        <div class="help-box" *ngIf="isHelpOpen">
          <p [innerHTML]="helpMessage"></p>
          <p *ngIf="!isGeneric"> 
            Nella barra di ricerca è possibile filtrare gli annunci per <strong>città</strong>.<br><br>
            È possibile aggiungere filtri tramite il pulsante <strong>aggiungi filtri</strong>.<br><br>
            Inoltre è possibile anche filtrare tra annunci di <strong>affitto</strong> o <strong>acquisto</strong>.
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- Riga 2: logo centrale -->
  <div class="navbar-bottom" >
    <div class="nav-center">
      <img src="https://i.imgur.com/uOvKzdr.png" *ngIf="!isGeneric" alt="Logo" />
    </div>
  </div>
</nav>
