<div class="register-container">
    <div class="register-card">
      <div class="back-arrow" (click)="goBack()">&#8592;</div>
      <h2>Registrati su <span>DietiEstates</span>!</h2>
  
      <form (ngSubmit)="register()">
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
        <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
        <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
        <input type="password" placeholder="Conferma Password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
        <button class="register-btn" type="submit"
        [disabled]="!username || !email || !password || !confirmPassword">
  Registrati
</button>
      </form>
  
      <div class="social-login">
        <p>Oppure registrati con</p>
        <button class="social-btn google">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google icon" class="icon" />
          Google
        </button>
        <button class="social-btn facebook">
          <img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="Facebook icon" />
          Facebook
        </button>
        <button class="social-btn github">
          <img src="https://cdn.simpleicons.org/github/ffffff" alt="GitHub" class="icon" />
          GitHub
        </button>
      </div>
  <br><br>
      <p class="login-link">Hai già un account? <a (click)="goToLogin()">Accedi</a></p>
    </div>
    <app-footer></app-footer>
  </div>
  